.dumip-mb10.ant-collapse {
  margin-bottom: 10px;
}
.dumip-FormItem.ant-form-item {
  margin-bottom: 0px;
}
.dumip-FormTitle {
  font-weight: bold;
}
.dumip-FormDivider.ant-divider-horizontal {
  margin: 12px 0;
}
.dumip-FormBox {
  padding: 12px 0 5px 0;
}
.dumip-upload-images {
  display: block;
}
.dumip-upload-images .ant-upload-list-picture-card .ant-upload-list-item,
.ant-upload.ant-upload-select-picture-card {
  width: 82px !important;
  height: 82px !important;
}
.dumip-upload-images .ant-upload-select-picture-card i {
  font-size: 32px;
}

.dumip-FormCol .ant-form-item-label {
  line-height: 20px !important;
  padding-bottom: 4px !important;
}
